<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All1Fit.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2D298D48E7AFD240523BB4BFCB238046EFA49788</string>
				<key>dateExpires</key>
				<string>1/1/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2D298D48E7AFD240523BB4BFCB238046EFA49788</string>
						<key>dateExpires</key>
						<string>1/1/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXK73U74AC</string>
						<key>name</key>
						<string>DANIEL BENITO DIAZ</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2D298D48E7AFD240523BB4BFCB238046EFA49788</string>
						<key>dateExpires</key>
						<string>1/1/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXK73U74AC</string>
						<key>name</key>
						<string>DANIEL BENITO DIAZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2D298D48E7AFD240523BB4BFCB238046EFA49788</string>
						<key>dateExpires</key>
						<string>1/1/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXK73U74AC</string>
						<key>name</key>
						<string>DANIEL BENITO DIAZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2D298D48E7AFD240523BB4BFCB238046EFA49788</string>
						<key>dateExpires</key>
						<string>1/1/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXK73U74AC</string>
						<key>name</key>
						<string>DANIEL BENITO DIAZ</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2D298D48E7AFD240523BB4BFCB238046EFA49788</string>
						<key>dateExpires</key>
						<string>1/1/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AXK73U74AC</string>
						<key>name</key>
						<string>DANIEL BENITO DIAZ</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AXK73U74AC.com.idanidev.All1Fit</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>AXK73U74AC</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>All1Fit.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7c9b192f-7e2c-42a6-afe3-9b1aca89878a</string>
				<key>dateExpires</key>
				<string>1/1/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.idanidev.All1Fit</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AXK73U74AC</string>
				<key>name</key>
				<string>DANIEL BENITO DIAZ</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
