<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Clarity</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleName</key>
	<string>Clarity</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Clarity usa Face ID para bloquear automáticamente la app y proteger tus datos financieros</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Usamos el micrófono para añadir gastos por voz</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Necesitamos reconocer tu voz para detectar gastos automáticamente</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.clarity.app.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clarity</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.clarity.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.318846020421-g6mtccrq40f4uqkrgptbfldt2i485o0j</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
